<?php

return [
    'annotations' => [
        'AnnotationBuilder' => [
            'models' => [
                [
                    'path' => 'examples/Model',
                    'namespace' => 'Newage\Example\Model'
                ]
            ]
        ],
        'MapperBuilder' => [
            'path' => 'build/'
        ]
    ],
];
